{% extends 'sysinfo_website/base.html' %} {% load staticfiles %}
{% block title %}Door Log's Activity{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-animate.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/ui-bootstrap-tpls-2.5.0.min.js' %}"></script>
<script src="{% static 'js/angular-websocket.min.js' %}"></script>
<script src="{% static 'js/sysinfo.js' %}"></script>
{% endblock %}
{% block content %}
{% endblock %}