{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Smartlock System">
        <meta name="author" content="Indra Bagus Wicaksono">
        <!--IE Compatibility modes-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <title> {% block title %} {% endblock%}</title>
	<link rel="shortcut icon" href="{%  static '/img/favicon.ico' %}">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'css/basepage.css' %}">

        <script src="{% static 'bootstrap/js/jquery-3.1.1.slim.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
        {% block head %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a  href="{% url 'website:linuxsysinfo' %}" class="navbar-brand">Linux System Information</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-profile btn-primary dropdown-toggle" 
                                        type="button" 
                                        data-toggle="dropdown" >
                                    <span class="glyphicon glyphicon-user"></span>                
                                    {{request.user.first_name}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'website:logout' %}">
                                        <span class="glyphicon glyphicon-log-out" style="padding:5px"></span>Log Out</a>
                                    </li>
                                </ul>

                            </div>                            
                        </li>
                        {% endif %}
                    </ul>
                    {% block navbar %}
                    {% endblock %}
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}                            
        </div>
    </body>

</html>
